.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
  content: "\f092";
  list-style: none;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
i:hover {
  color: #6e5f5f;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
